body {
    margin: 0px;
    font-family: 'Inter', sans-serif;
    background-color: #1C1C1C;
}

.main-container {
    height: 550px;
    width: 550px;
    background-color: #ECFDF5;
    margin: 30px auto;
    border-radius: 5px;
}

.content {
    display: flex;
    flex-direction: column;
    margin-left: 52px;
}

h1 {
    font-family: 'Karla', sans-serif;
    width: 354px;
    font-weight: 900;
    font-size: 40px;
    line-height: 1;
    letter-spacing: -1px;
    margin-top: 115px;
    margin-bottom: 0px;

}

.green-text {
    color: #10B981;
}

h2 {
    font-size: 20px;
    font-weight: normal;
    color: #6B7280;
    letter-spacing: -.5px;
}

button {
    background-color: #10B981;
    color: white;
    height: 42px;
    width: 191px;
    border-radius: 6px;
    border: none;
    margin-top: 30px;
    font-size: 16px;
}

.horizontal-ruler {
    height: 0px;
    border: 1px solid #D5D4D8;
    width: 446px;
    margin-top: 35px;
}

.pw-field {
    height: 39px;
    width: 211px;
    background: #273549;
    border-radius: 6px;
    margin-top: 35px;
    margin-right: 15px;
    display: inline-block;
    color: #5DEF92;
}